*.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

# Playgrounds
timeline.xctimeline
playground.xcworkspace
/.apn
